<div class="con">
	<div>
		<div *ngIf="error_stat">
			<div class="alert alert-danger" role="alert">
				Incorrect Username or Password
			  </div>
		</div>
		<div class="border border-dark corn loginbox">
			<div class="border-bottom border-dark headr">
				<h4>
					Login
				</h4>
			</div>
			<div class="corn">
				<form>
					<div class="form-group innerbox">
						<label>Username :</label>
						<div>
							<input type="text" class="form-control" id="username" #username>
						</div>
					</div>
					<div class="form-group innerbox">
						<label for="password">Password :</label>
						<div>
							<input type="password" class="form-control" id="password" #password>
						</div>
					</div>
					<div class="form-group innerbox" >
                        <button type="submit" class="btn btn-primary" (click)="login(username.value,password.value)">Login</button>
                    </div>                    
				</form>
			</div>
		</div>
	</div>
</div>